h1{
    color:rgb(54, 129, 241);
    padding:5px 5px 5px 5px;
}
p{
    border: 4px solid rgb(54, 184, 245);
    padding:5px;
    background-color: rgb(54, 184, 245);
}
a:link{
    text-decoration:rgb(90, 244, 92) underline;
}
a:visited{
    color:rgb(90, 244, 92);
}
a:hover{
    text-decoration: rgb(90, 244, 92) wavy underline;
}